﻿@{
    Layout = "_LoginSignupLayout";
    ViewData["Title"] = "AccessDenied";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h1 class="text-danger">Access Denied</h1>
            <p class="lead">Sorry, you don't have permission to access this page.</p>
            <button type="button" class="btn btn-primary" onclick="history.back()">Go back to previous page</button>
        </div>
    </div>
</div>
