﻿@model RegisterModel;
@{
    Layout = "_LoginSignupLayout";
    ViewData["Title"] = "Register";
}
<form method="post" asp-controller="account" asp-action="register">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <label>Email</label>
    <input type="text" asp-for="Email"/>
    <span asp-validation-for="Email" class="text-danger"></span>
    <br/>
    <label>UserName</label>
    <input type="text" asp-for="Username"/>
    <span asp-validation-for="Username" class="text-danger"></span>
    <br/>
    <label>Password</label>
    <input type="text" asp-for="Password"/>
    <span asp-validation-for="Password" class="text-danger"></span>
    <br/>
    <input type="submit"/>
</form>