﻿@model List<ApplicationUser>
@if (Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <td>SN</td>
                <td>Name</td>
                <td>Email</td>
                <td>Phone</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @{
                var count = 0;
                @foreach (var item in Model)
                {
                    count++;
                    <tr>
                        <td>@count</td>
                        <td>@item.UserName</td>
                        <td>@item.Email</td>
                        <td>@item.PhoneNumber</td>
                        <td>
                            <a asp-controller="student" asp-action="delete" asp-route-id="@item.Id">Delete</a>
                            <a asp-controller="student" asp-action="edit" asp-route-id="@item.Id">Edit</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
}
else
{
    <p>No User Added</p>
}