﻿@model Student;
@{
    ViewData["Title"] = "Add";
}

<form method="post" enctype="multipart/form-data" asp-controller="student" asp-action="add">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <label>Name</label>
    <input type="text" asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <br/>
    <label>Roll</label>
    <input type="text" asp-for="Roll" />
    <span asp-validation-for="Roll"></span>
    <br/>
    <label>Gender</label>
    <select asp-for="Gender" asp-items="Html.GetEnumSelectList<WebApp.Enum.Gender>()"></select>
    <span asp-validation-for="Gender"></span>
    <input type="file" Name="image"/>
    <br />
    <input type="submit" />
</form>