﻿@model Student;
@{
    ViewData["Title"] = "Edit";
}
<form method="post" asp-controller="student" asp-action="edit">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <label>Name</label>
    <input type="text" value="@Model.Name" asp-for="Name" />
    <span asp-validation-for="Name"></span>
    <br/>
    <label>Roll</label>
    <input type="text" value="@Model.Roll" asp-for="Roll" />
    <span asp-validation-for="Roll"></span>
    <br/>
    <label>Gender</label>
    <select asp-for="Gender" asp-items="Html.GetEnumSelectList<WebApp.Enum.Gender>()"></select>
    <span asp-validation-for="Gender"></span>
    <br />
    <input type="submit"/>
</form>