﻿@model List<Student>
@{
    ViewData["Title"] = "Index";
}
@if(Model.Any())
{
    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Name</td>
                <td>Roll</td>
                <td>Gender</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
        @{
            var count = 0;
            @foreach (var item in Model)
            {
                count++;
                    <tr>
                        <td>@count</td>
                        <td>@item.Name</td>
                        <td>@item.Roll</td>
                        <td>@item.Gender</td>
                        <td>
                            <a asp-controller="student" asp-action="delete" asp-route-id="@item.Id">Delete</a>
                            <a asp-controller="student" asp-action="edit" asp-route-id="@item.Id">Edit</a>
                        </td>
                    </tr>
            }
        }
        </tbody>
    </table>
}
else
{
    <p>No Student Added</p>
}
